<div id="wrapper" class="clearfix">
  <% include ../common/nav.ejs %>
  <section id="page-title" class="page-title" style="padding: 200px 0;">
    <div class="container clearfix">
      <h1>Members</h1>
      <span>연구원들입니다.</span>
    </div>
  </section>
  <!-- Content -->
  <section id="content">
    <div class="content-wrap">
      <!-- member vision -->
      <% include ./components/intro.ejs %>
      <div class="section nomargin">
        <div class="clear"></div>
        <div class="heading-block center">
          <br /><br /><br />
          <h3>재학생</h3>
        </div>
      </div>
      <% include ./components/memberList.ejs %>
    </div>
  </section>
</div>
