<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-md-12">
          <h3>BIOGRAPHY</h3>
          <hr style="margin-top:-20px" />
          <div class="col-md-2 col-xs-12"><b>19oo – 현재</b><br /></div>
          <div class="col-md-10 col-xs-12">
            한국항공대학교 소프트웨어학과 정교수<br />
          </div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-md-12">
          <h3>AWARDS</h3>
          <hr style="margin-top:-20px" />
          <div class="col-md-2 col-xs-12"><b>2ooo </b><br /></div>
          <div class="col-md-10 col-xs-12">내용을 입력해주세요.</div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-md-12">
          <h3>PROFESSIONAL ACTIVITIES</h3>
          <hr style="margin-top:-20px" />
          <div class="col-md-2 col-xs-12"><b>20oo - 현재</b><br /></div>
          <div class="col-md-10 col-xs-12">내용을 입력해주세요.</div>
        </div>
      </div>

      <div class="row clearfix">
        <div class="col-md-12">
          <h3>Research Summary & Plan</h3>
          <hr style="margin-top:-20px" />
          <p>내용을 입력해주세요.</p>
        </div>
      </div>
    </div>

    <div class="section dark bottommargin-lg" style="padding: 90px 0;">
      <div class="container clearfix">
        <div
          class="col_one_third nobottommargin center col_first"
          data-animate="bounceIn"
          data-delay="400"
        >
          <i class="i-plain i-large divcenter nobottommargin icon-time"></i>
          <div class="counter counter-lined" style="font-size: 35px">
            9:00 ~ 18:00
          </div>
          <h5>Office Hour</h5>
        </div>

        <div
          class="col_one_third nobottommargin center"
          data-animate="bounceIn"
          data-delay="400"
        >
          <i class="i-plain i-large divcenter nobottommargin icon-building"></i>
          <div class="counter counter-lined" style="font-size: 35px">
            전자관 402호
          </div>
          <h5>Office Room</h5>
        </div>

        <div
          class="col_one_third nobottommargin center col_last"
          data-animate="bounceIn"
          data-delay="400"
        >
          <i class="i-plain i-large divcenter nobottommargin icon-phone"></i>
          <div class="counter counter-lined" style="font-size: 35px">
            02-300-0000
          </div>
          <h5>Call me</h5>
        </div>
      </div>
    </div>
  </div>
</section>
