<div class="container clearfix">
  <div class="row">
    <div class="col-md-12 bottommargin">
      <h2>BIOGRAPHY</h2>
      <hr style="margin-top:-15px" />
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>1995.08 – 현재</b><br /></div>
        <div class="col-md-9 col-xs-12">
          한국항공대학교 소프트웨어학과 정교수<br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>1993.10 – 1994.03</b><br /></div>
        <div class="col-md-9 col-xs-12">
          Stanford University Researcher<br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>1992.03 – 1993.12</b><br /></div>
        <div class="col-md-9 col-xs-12">KAIST 전기및 전자과 대우교수<br /></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>1991.08 – 1992.02</b><br /></div>
        <div class="col-md-9 col-xs-12">
          Newcastle University Research assistant<br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>1990.10 – 1991.02</b><br /></div>
        <div class="col-md-9 col-xs-12">충남대학교 컴퓨터공학과 강사<br /></div>
      </div>
    </div>
    <div class="col-md-12 bottommargin">
      <h2>특허 / 프로그램 출원 등록실적</h2>
      <hr style="margin-top:-15px" />
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2017.10.31</b><br /></div>
        <div class="col-md-9 col-xs-12">
          대용량 방송용 빅데이터의 지식 트리플 구축을 위한 변환 시스템 및 방법
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2017.08.01</b><br /></div>
        <div class="col-md-9 col-xs-12">
          대용량 방송용 빅데이터 분산 병렬처리를 위한 동적 디바이스 연결 시스템
          및 방법
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2017.08.01</b><br /></div>
        <div class="col-md-9 col-xs-12">
          인지형 차량 및 인상착의 객체 및 이벤트 인식, 추적, 검색, 예측을 위한
          나레이티브 보고서 작성 시스템 및 방법
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2016.09.05</b><br /></div>
        <div class="col-md-9 col-xs-12">
          자동 분산 병렬 처리 하둡 시스템을 지원하는 클라우드 시스템
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2016.07.11</b><br /></div>
        <div class="col-md-9 col-xs-12">
          오디오 및 비디오 데이터를 포함하는 영상의 저장 및 검색 장치와 저장 및
          검색방법
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2016.07.11</b><br /></div>
        <div class="col-md-9 col-xs-12">
          자동 분산 병렬 처리 하둡 시스템의 지원을 위한 클라우드 구동방법
        </div>
      </div>
    </div>
    <div class="col-md-12 bottommargin">
      <h2>정부출연 개발과제 수행실적</h2>
      <hr style="margin-top:-15px" />
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2016.10.01 ~ 현재</b><br /></div>
        <div class="col-md-9 col-xs-12">
          가정생활 편의 향상 지원산업 - 기술혁신사업 (1,708백만원)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2015.03.01 ~ 2019.02.28</b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          ICBMS 핵심기술 개발사업 총괄 및 엑사 스케일급 클라우드 스토리지 기술
          개발 - 미래창조부 (1,256백만원)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2017.01.01 ~ 2021.12.31</b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          (기반SW-창조씨앗 2단계)주제에 대한 빅데이터를 스마트보고서로 요약하는
          기술 개발 - 미래창조부 (1,200백만원)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2012.06.01 ~ 2015.02.28</b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          10,000명 사용자 이상 동시 접속 가상 데스크탑 서비스를 지원하는
          클라우드 스토리지용 파일 시스템 개발 - 미래창조부 (1,400백만원)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2013.03.01 ~ 2015.02.28</b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          고화질 영상 서비스 지원을 위한 컴퓨팅 내재형 미디어 융합 전달 시스템
          기술 개발 - 방송통신위원회 (280백만)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2010.06.10 ~ 2010.11.30 </b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          V&V 프로세스 및 부하 시험 환경 구축 - 정보통신산업 진흥원 (135백만원)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2010.06.10 ~ 2010.11.30 </b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          대형마트 납품 중소기업을 위한 SaaSPia기반 SCM 서비스 프로그램 개발 -
          정보통신산업 진흥원 (135백만원)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <b>2009.03.01 ~ 2010.02.28 </b><br />
        </div>
        <div class="col-md-9 col-xs-12">
          IT온톨로지 인프라 및 서비스 기술개발 (KAIST 최기선교수중심
          COREONTO과제) - 지식경제부 (157백만원)
        </div>
      </div>
    </div>
    <div class="col-md-12 bottommargin">
      <h2>AWARDS</h2>
      <hr style="margin-top:-15px" />
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2011.06 </b><br /></div>
        <div class="col-md-9 col-xs-12">
          교육부 장관상 (항공대학교 발전에 기여한 공로상)
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12"><b>2004. </b><br /></div>
        <div class="col-md-9 col-xs-12">
          정보통신부 장관상 (신 SW 출품 관련 수상)
        </div>
      </div>
    </div>
  </div>
  <div class="section dark" style="padding: 90px 0;">
    <div class="container clearfix">
      <div class="col_one_third bottommargin-sm center col_first">
        <i class="i-plain i-large divcenter nobottommargin icon-time"></i>
        <div class="counter counter-lined" style="font-size: 35px">
          9:00 ~ 18:00
        </div>
        <h5>Office Hour</h5>
      </div>

      <div class="col_one_third bottommargin-sm center">
        <i class="i-plain i-large divcenter nobottommargin icon-building"></i>
        <div class="counter counter-lined" style="font-size: 35px">
          전자관 402호
        </div>
        <h5>Office Room</h5>
      </div>

      <div class="col_one_third bottommargin-sm center col_last">
        <i class="i-plain i-large divcenter nobottommargin icon-phone"></i>
        <div class="counter counter-lined" style="font-size: 35px">
          02-300-0000
        </div>
        <h5>Call me</h5>
      </div>
    </div>
  </div>
</div>
