<div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark " style="background-image: url('res/professor/professor_in_2.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-right visible-lg visible-md">
                            <h2 data-caption-animate="fadeInUp" style="color:black">송 동 호</h2>
                            <h2 data-caption-animate="fadeInUp" style="color:black">(Song Dong Ho)</h2>
                            <h1 data-caption-animate="fadeInUp" style="color:black">Professor</h3>
                            <h3 data-caption-animate="fadeInUp" style="color:black">@ College of Software, Korea University</h3>
                            <h3 data-caption-animate="fadeInUp" style="color:black"><i class="icon-envelope2"></i> dbsong@kau.ac.kr</h3>
                            <h3 data-caption-animate="fadeInUp" style="color:black"><i class="icon-call"></i> 02-300-0114</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
    </div>