<div class="container clearfix">
  <img id="profile_image" src="images/professor/2.jpg" alt="profile" />
  <span>
    <h1>송 동 호</h1>
    <h3>(Song Dong Ho)</h3>
    <h3>Professor</h3>
    <h3>@ College of Software, Korea University</h3>
    <h3><i class="icon-envelope2"></i> dhsong@kau.ac.kr</h3>
    <h3><i class="icon-call"></i> 010-8886-0686</h3>
  </span>
</div>
