<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../../../common/head.ejs %>
    <script src="/javascripts/responsive-youtube.js"></script>
  </head>
  <body>
    <% include ./body.ejs %> <% include ../../../common/library.ejs %>
  </body>
</html>
