<section
  id="slider"
  class="slider-parallax swiper_wrapper full-screen clearfix"
>
  <% include ./component/slider.ejs %>
</section>
<!--
  Content
  =============================================
-->
<section id="content"><% include ./component/content.ejs %></section>
<!-- #content end -->
