<% include ../common/nav.ejs %>
<div class="container">
  <!-- Professor intro -->
  <% include component/intro.ejs %>
  <!-- cotent -->
  <% include ./component/content.ejs %>
</div>
<%include ../common/footer.ejs %>
