<div id="wrapper" class="clearfix">
  <% include ../common/nav.ejs %>
  <section
    id="page-title"
    class="page-title"
    style="text-align: right; padding: 80px 0;"
  >
    <!-- Professor -->
    <% include component/intro.ejs %>
  </section>
  <!-- cotent -->
  <% include ./component/content.ejs %> <%include ../common/footer.ejs %>
</div>
