<div id="wrapper" class="clearfix">
  <!-- Document Wrapper -->
  <% include ../common/nav.ejs %>
  <section
    id="slider"
    class="slider-parallax swiper_wrapper full-screen clearfix"
  >
    <!-- slider -->
    <% include component/intro.ejs %>
  </section>

  <!-- cotent -->
  <% include ./component/content.ejs %> <%include ../common/footer.ejs %>
</div>
