<body>
  <!-- nav Tab -->
  <% include ../common/nav.ejs %>
  <div id="content" style="top: -100px;">
    <% include components/cover.ejs %>
    <!-- 연구실 Intro -->
    <% include components/lab_intro.ejs %> <% include components/lab_intro2.ejs
    %>
    <!-- Member -->
    <% include components/member.ejs %>
  </div>
  <% include ../common/footer.ejs %>
</body>
<style>
  footer#footer {
    bottom: 0;
  }
</style>
