<body>
  <!-- Document Wrapper -->
  <div class="clearfix">
    <!-- nav Tab -->
    <% include ../common/nav.ejs %>

    <% include components/cover.ejs %>

    <section id="content">
      <div class="content-wrap">
        <!-- 연구실 Intro -->
        <% include components/lab_intro.ejs %>
        <% include components/lab_intro2.ejs %>

        <!-- Member -->
        <% include components/member.ejs %>
    </section>
    <% include ../common/footer.ejs %>
  </div>