<section id="coverImg">
  <div style="background-image: url('images/Background.jpg'); background-size: cover;"></div>
  <a
    href="#content"
    data-scrollto="#content"
    data-offset="100"
    class="dark one-page-arrow"
    ><i class="icon-angle-down infinite animated fadeInDown"></i
  ></a>
</section>
