<div id="coverImg">
  <div
    style="background-image: url('images/Background.jpg'); background-size: cover;"
  ></div>
  <a href="#here" data-offset="100" class="one-page-arrow" style="color: #fff"
    ><i class="icon-angle-down infinite animated fadeInDown"></i
  ></a>
</div>
