<div class="container clearfix bottommargin-lg">
  <div class="row clearfix">
    <div class="col-lg-6 col-sm-12">
      <div class="heading-block topmargin">
        <h1>Airborne Software Lab. <br />홈페이지에 오신것을 환영합니다</h1>
      </div>
      <p class="lead">
        한국항공대학교 Airborne Software Lab은 지도교수님이신 송동호 교수님께서
        1995년도 한국항공대학교 교수로 임용되시면서 설립되었습니다. 현재 저희
        연구실에서 다루고있는 연구 주제는 크게 4가지 분야로 나누어져있습니다.
      </p>
    </div>

    <div class="col-lg-6 col-sm-12 hidden-xs">
      <div
        style="position: relative; margin-bottom: -100px;"
        class="ohidden"
        data-height-lg="500"
        data-height-md="720"
        data-height-sm="640"
        data-height-xs="450"
        data-height-xxs="350"
      >
        <img
          src="images/computer.png"
          style="position: absolute; top: 155px; left: 30; width: 300px"
          data-animate="fadeInUp"
          data-delay="50"
          alt="Computer"
        />
        <img
          src="images/airplane.png"
          style="position: absolute; top: 25px; left: 210px; width: 300px"
          data-animate="fadeInUp"
          data-delay="300"
          alt="Chipset"
        />
        <img
          src="images/gear.png"
          style="position: absolute; top: 25px; left: 110px;"
          data-animate="fadeInUp"
          data-delay="500"
          alt="Gear"
        />
        <img
          src="images/gear.png"
          style="position: absolute; top: 255px; left: 340px; width: 150px"
          data-animate="fadeInUp"
          data-delay="700"
          alt="Gear"
        />
      </div>
    </div>
  </div>
</div>
