<div class="section nobottommargin notopmargin">
  <div class="container clear-bottommargin clearfix">
    <div class="row notopmargin clearfix">
      <div class="col-md-3 bottommargin center">
        <!-- TODO research link -->
        <a href="">
          <i
            class="i-plain color i-large icon-medical-i-mental-health inline-block"
            style="margin-bottom: 15px;"
          ></i>
        </a>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading"
            >Self-Adaptive <br />Software Engineering</span
          >
          <h4>
            자가적응형<br />
            소프트웨어 공학
          </h4>
        </div>
      </div>

      <div class="col-md-3 bottommargin center">
        <!-- TODO research link -->
        <a href="">
          <i
            class="i-plain color i-large icon-bitcoin2 inline-block"
            style="margin-bottom: 15px;"
          ></i>
        </a>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading"
            >FinTech Software Engineering <br />
            based on Blockchain</span
          >
          <h4>블록체인 기반 <br />핀테크 소프트웨어 공학</h4>
        </div>
      </div>

      <div class="col-md-3 bottommargin center">
        <!-- TODO research link -->
        <a href="">
          <i
            class="i-plain color i-large icon-medical-cardiology inline-block"
            style="margin-bottom: 15px;"
          ></i>
        </a>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading"
            >Smart Health System <br />
            using Bio Signal</span
          >
          <h4>
            생체 신호 기반 <br />
            스마트 헬스케어 시스템
          </h4>
        </div>
      </div>
      <div class="col-md-3 bottommargin center">
        <!-- TODO research link -->
        <a href="">
          <i
            class="i-plain color i-large icon-sort-by-alphabet-alt inline-block"
            style="margin-bottom: 15px;"
          ></i>
        </a>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">
            Software Quality Assuarance <br />based on Test</span
          >
          <h4>
            테스트 기반<br />
            소프트웨어 품질 검증
          </h4>
        </div>
      </div>
    </div>
    <div class="row notopmargin clearfix center" style="margin-bottom: 30px">
      <!-- TODO research link -->
      <a
        href="/researches"
        class="button button-border button-dark button-rounded button-large noleftmargin "
        >More</a
      >
    </div>
  </div>
</div>
