<div class="section color bottommargin notopmargin">
  <div class="row notopmargin nobottommargin clearfix">
    <div class="col-md-3 bottommargin center">
      <i class="i-plain color i-large icon-star inline-block"></i>
      <div class="heading-block nobottomborder">
        <span class="before-heading"
          >Self-Adaptive <br />System Engineering</span
        >
        <h4>
          자가적응형<br />
          소프트웨어 공학
        </h4>
      </div>
    </div>
    <div class="col-md-3 bottommargin center">
      <i class="i-plain color i-large icon-plane inline-block"></i>
      <div class="heading-block nobottomborder">
        <span class="before-heading">Aerospace<br />System Engineering</span>
        <h4>항공<br />시스템 공학</h4>
      </div>
    </div>
    <div class="col-md-3 bottommargin center">
      <i class="i-plain color i-large icon-user inline-block"></i>
      <div class="heading-block nobottomborder">
        <span class="before-heading"
          >Smart Health System <br />
          using Bio Signal</span
        >
        <h4>
          생체 신호 기반 <br />
          스마트 헬스케어 시스템
        </h4>
      </div>
    </div>
    <div class="col-md-3 bottommargin center">
      <i class="i-plain color i-large icon-archive2 inline-block"></i>
      <div class="heading-block nobottomborder">
        <span class="before-heading"> Software QA <br />based on Test</span>
        <h4>
          테스트 기반<br />
          소프트웨어 품질 검증
        </h4>
      </div>
    </div>
  </div>
  <div class="notopmargin center clearfix">
    <a
      href="/researches"
      class="button button-border button-rounded button-large button-center"
      >More</a
    >
  </div>
</div>
