<div class="section parallax dark notopmargin nobottommargin">
  </br>
  <h1 class="center">Korea Aerospace University <br /></h1>
  <h1 class="center"><b style="color:#adf7e9">Airborne Software Lab</b></h1>
  </br>
</div>

<!-- Professor part -->
<div class="row clearfix center bottommargin-lg common-height">
  <div 
    class="col-md-4 center col-padding topmargin-sm nobottommargin"
    style="background: url('images/professor/1.jpg') center center / contain no-repeat; height: 444px;"
  >
  </div>
  <div class="col-md-8 center col-padding " style="background-color: #F5F5F5;">
    <div>
      <div class="heading-block nobottommargin">
        <h1><strong>송동호 (Dongho Song)</strong></h1>
        <h4><strong>지도 교수</strong></h4>
      </div>
      <div class="row clearfix center" style="margin-top:22px">
        <a href="/professor" class="button button-border button-rounded button-large button-center">
          교수님 소개</a>
      </div>
    </div>
  </div>
</div>

<!-- Member part -->
<div class="clearfix nobottommargin">
  <div class="center topmargin-sm">
    <div class="heading-block center">
      <h3>Members</h3>
    </div>

    <% for(var key in members){ %>
    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#1">
            <img style="background: url('<%= members[key].image_url %>') no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4><%= members[key].name %></h4>
            <span><strong><%= members[key].course %></strong></span>
          </div>
        </div>
      </div>
    </div>
    <% } %>
</div>