<div class="section parallax dark notopmargin nobottommargin" style="background-image: url(''); background-size: cover; "
  data-stellar-background-ratio="0.2">
  </br></br></br></br>
  <h1 class="center nomargin"> 항공SW <b style="color:#fcffb7">발전</b>을 <b style="color:#adf7e9">요람</b></h1>
  </br></br></br></br>
</div>

<!-- Professor part -->
<div class="row clearfix center bottommargin-lg common-height">
  <div 
    class="col-md-4 center col-padding topmargin-sm nobottommargin"
    style="background: url('images/professor/1.jpg') center center / contain no-repeat; height: 444px;"
  >
  </div>
  <div class="col-md-8 center col-padding " style="background-color: #F5F5F5;">
    <div>
      <div class="heading-block nobottommargin">
        <h1><strong>송동호 (Dongho Song)</strong></h1>
        <h4><strong>지도 교수</strong></h4>
      </div>
      <div class="row clearfix center" style="margin-top:22px">
        <a href="/professor" class="button button-border button-dark button-rounded button-large">
          교수님 소개</a>
      </div>
    </div>
  </div>
</div>

<!-- Member part -->
<div class="container clearfix nobottommargin">
  <div class="row center topmargin-sm">
    <div class="heading-block center">
      <h3>Members</h3>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#1">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>1</h4>
            <span><strong>1 과정</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#2">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>2</h4>
            <span><strong>2 과정</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#3">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>3</h4>
            <span><strong>3 과정</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="member.#4">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>4</h4>
            <span><strong>4 과정</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#5">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>5</h4>
            <span><strong>5 과정</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#6">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>6</h4>
            <span><strong>6 과정</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <a href="members#7">
            <img style="background: url() no-repeat; height: 300px; background-size:cover">
          </a>
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>7</h4>
            <span><strong>7 과정</strong></span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6 bottommargin">
        <div class="team">
          <div class="team-image">
            <a href="members#7">
              <img style="background: url() no-repeat; height: 300px; background-size:cover">
            </a>
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title">
              <h4>8</h4>
              <span><strong>8 과정</strong></span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>