<div class="slider-parallax-inner">
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide dark"
        style="background-image: url('images/Background.jpg');"
      >
        <div class="container clearfix">
          <div class="slider-caption slider-caption-left"></div>
        </div>
      </div>
      <div
        class="swiper-slide dark"
        style="background-image: url('res/mainphoto1.jpg');"
      >
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center"></div>
        </div>
      </div>
    </div>
    <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
    <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
  </div>
  <a
    href="#"
    data-scrollto="#content"
    data-offset="100"
    class="dark one-page-arrow"
    ><i class="icon-angle-down infinite animated fadeInDown"></i
  ></a>
</div>
