<div class="slider-parallax-inner">
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide dark"
        style="background-image: url('images/Background.jpg');"
      ></div>
    </div>
  </div>
  <a
    href="#content"
    data-scrollto="#content"
    data-offset="100"
    class="dark one-page-arrow"
    ><i class="icon-angle-down infinite animated fadeInDown"></i
  ></a>
</div>
