<div class="row common-height clearfix">
  <div
    class="hidden-xs col-sm-5 col-padding"
    style="background: url('') center center no-repeat; background-size: cover;"
  ></div>
  <div class="col-sm-7 col-padding" style="background-color: #F5F5F5;">
    <div>
      <div class="heading-block">
        <span class="before-heading color"> 내용을 입력해주세요</span>
        <h3>내용을 입력해주세요</h3>
        <span><i class="icon-calendar"></i> 20oo.00 ~ 20oo.00</span>
      </div>
      <div class="row clearfix">
        <div class="col-md-12"><p>내용을 입력해주세요</p></div>
      </div>
    </div>
  </div>
</div>

<!-- Second research -->
<div class="row common-height clearfix">
  <div class="col-sm-7 col-padding" style="background-color: #FFFFFF;">
    <div>
      <div class="heading-block">
        <span class="before-heading color">내용을 입력해주세요</span>
        <h3>내용을 입력해주세요</h3>
        <span><i class="icon-calendar"></i> 2000.00 ~ 2000.00</span>
      </div>
      <div class="row clearfix">
        <div class="col-md-12">내용을 입력해주세요</div>
      </div>
    </div>
  </div>
  <div
    class="hidden-xs col-sm-5 col-padding"
    style="background: url('') center center no-repeat; background-size: cover;"
  ></div>
</div>

<!-- Third research -->
<div class="row common-height clearfix">
  <div
    class="hidden-xs col-sm-5 col-padding"
    style="background: url('') center center no-repeat; background-size: cover;"
  ></div>
  <div class="col-sm-7 col-padding" style="background-color: #F5F5F5;">
    <div>
      <div class="heading-block">
        <span class="before-heading color">내용을 입력해주세요</span>
        <h3>내용을 입력해주세요</h3>
        <span><i class="icon-calendar"></i> 0000.00 ~ 0000.00</span>
      </div>
      <div class="row clearfix">
        <div class="col-md-12"><p>내용을 입력해주세요</p></div>
      </div>
    </div>
  </div>
</div>
