<!-- Footer -->
<footer id="footer" class="dark">
  <!-- Copyrights -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        Copyrights &copy; 2018 All Rights Reserved by KAU<br />
      </div>
      <div class="col_half col_last">
        <i class="icon-envelope2"></i> kauasltw@gmail.com
        <span class="middot">&middot;</span>
        <i class="icon-call"></i> 02-300-0186
      </div>
    </div>
  </div>
</footer>
