<!-- Footer -->
<footer id="footer" class="dark">
  <!-- Copyrights -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        Copyrights &copy; 2018 All Rights Reserved by KAU<br />
      </div>
      <div class="col_half col_last">
        <div class="clear"></div>
        <i class="icon-envelope2"></i> asd@naver.com
        <span class="middot">&middot;</span>
        <i class="icon-printer2"></i> +82-2-0000-0000
        <span class="middot">&middot;</span>
        <i class="icon-call"></i> +82-2-0000-0000
      </div>
    </div>
  </div>
</footer>
