<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  name="viewport"
/>
<meta name="viewport" content="width=device-width" />
<meta name="description" content="KAU Airborne Software Lab." />

<!-- Open graph tag -->
<meta property="og:title" content="Airborne Software Lab." />
<meta property="og:description" content="KAU Airborne Software Lab." />
<!-- TODO -->
<meta property="og:image" content="https://richpreview.com/kaulogo.png" />

<!-- Stylesheets -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/swiper.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/dark.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/font-icons.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/animate.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/responsive.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/colors.css" type="text/css" />

<!-- Jquery -->
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/plugins.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<!-- favicon -->
<% include favicon.ejs %>
<!-- Document Title -->
<title>KAU Airborne Software Lab.</title>
