<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts -->
<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/plugins.js"></script>

<!-- Footer Scripts -->
<script src="javascripts/functions.js"></script>
