<div id="gotoTop" class="icon-angle-up"></div>

<!--
  External JavaScripts
  =============================================
-->
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/plugins.js"></script>

<!--
  Footer Scripts
  =============================================
-->
<script type="text/javascript" src="javascripts/functions.js"></script>
