<% include ../common/nav.ejs %>
<div class="container">
  <div id="page-title" class="page-title"">
    <h1>Board</h1>
    <span>공지사항 및 게시판</span>
  </div>
  <!-- Content -->
  <section>
      <!-- Switching board area -->
      <% include ./components/switchMenu.ejs %>
      <!-- 바뀐 메뉴별로 보여주는 리스트가 변경되야 함 -->
      <% include ./components/board.ejs %>
  </section>
</div>
<%include ../common/footer.ejs %>