<div class="wrapper">
  <% include ../common/nav.ejs %>
  <section id="page-title" class="page-title" style="padding: 200px 0;">
    <div class="container clearfix">
      <h1>Board</h1>
      <span>공지사항 및 게시판</span>
    </div>
  </section>
  <!-- Content -->
  <section id="content">
    <div class="content-wrap">
      <!-- TODO -->
      <!-- Switching board area -->
      <% include ./components/switchMenu.ejs %>
      <!-- 바뀐 메뉴별로 보여주는 리스트가 변경되야 함 -->
      <% include ./components/board.ejs %>
    </div>
  </section>
  <%include ../common/footer.ejs %>
</div>
