<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../common/head.ejs %>
    <style>
      @media (max-width: 768px) {
        #primary-menu > ul > li > a > div {
          color: white;
        }
        #primary-menu > ul > li > a > div:hover {
          color: #001e6a;
        }
        #category_row{
          text-align: center;
        }
        .category{
          margin-top: 10px;
        }
      }
    </style>
  </head>
  <body>
    <% include ./body.ejs %> <% include ../common/library.ejs %>
  </body>
</html>
