<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../common/head.ejs %>
    <!-- Date foramt js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
  </head>
  <body>
    <% include ./body.ejs %>
    <script src="/javascripts/page/boardJS.js"></script>
  </body>
</html>
