<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../../../common/head.ejs %>
    <!-- summernote -->
    <link href="/stylesheets/summernote.css" rel="stylesheet" />

    <!-- Jquery -->
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/summernote.min.js"></script>
    <script src="/javascripts/summernote-ko-KR.js"></script>
  </head>
  <body>
    <% include ./body.ejs %>
  </body>
</html>
