<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../../../common/head.ejs %>
    <link href="/stylesheets/summernote.css" rel="stylesheet" />
    <script src="/javascripts/summernote.min.js"></script>
    <script src="/javascripts/summernote-ko-KR.js"></script>
  </head>
  <body>
    <% include ./body.ejs %> <% include ../../../common/library.ejs %>
  </body>
</html>
