<div class="container clearfix">
  <div class="col_one_third">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4>OUR <span>VISION</span>.</h4>
    </div>
    <p>
      <b>
        1. 항공시스템 SW Lab 연구원들은 노력을 혁신으로 만듭니다.<br />
        2. 항공시스템 SW Lab 연구원들은 자기 계발을 위해 노력합니다.<br />
        3. 항공시스템 SW Lab 연구원들은 서로 돕습니다.
      </b>
    </p>
  </div>
  <div class="col_one_third">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4>OUR <span>MISSION</span>.</h4>
    </div>
    <p>
      <b
        >항공시스템 SW Lab 연구원들은 송동호 교수님의 지도 아래에서 항공시스템
        SW 공학 분야를 주도하는 인재로 도약하는 것을 목표로 합니다.
      </b>
    </p>
  </div>
  <div class="col_one_third col_last">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4>Key<span>Words</span>.</h4>
    </div>
    <p class="center">
      <b>정직(honest)</b><br />
      <b>노력(Effort)</b><br />
      <b>혁신(Innovation)</b><br />
    </p>
  </div>
</div>
