<div class="container clearfix">
  <div class="clear"></div>
  <div class="heading-block center">
    <br /><br /><br />
    <h4>박사 과정</h4>
  </div>
  <div class="col-md-3 col-sm-6 bottommargin">
    <div class="team">
      <div class="team-image">
        <img
          style="background: url() no-repeat; height: 300px; background-size:cover"
        />
      </div>
      <div class="team-desc team-desc-bg">
        <div class="team-title">
          <h4>홍길동</h4>
          <span><strong>내용을 입력해주세요</strong></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="clear"></div>
    <div class="heading-block center">
      <br /><br /><br />
      <h4>석사 과정</h4>
    </div>
    <div class="col-md-3 col-sm-6 bottommargin">
      <div class="team">
        <div class="team-image">
          <img
            style="background: url() no-repeat; height: 300px; background-size:cover"
          />
        </div>
        <div class="team-desc team-desc-bg">
          <div class="team-title">
            <h4>홍길동</h4>
            <span><strong>내용을 입력해주세요</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
