<!-- prettier-ignore -->
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th style="width: 7%;">No.</th>
      <th style="width: 45%;">제목</th>
      <th style="width: 15%;">작성자</th>
      <th style="width: 25%;">작성일</th>
      <th style="width: 8%">조회수</th>
    </tr>
  </thead>
</table>
<br />
<div class="align-middle board-nav flex space-between">
  <span class="flex">
    <ul class="pagination">
      <li id="page1" class="page-item active">
        <a class="page-link" href="/board?page=1&boardNum=0">1</a>
      </li>
      <% for (let i = 1; i < pagination; i++) { %>
      <li id="page<%= i + 1 %>" class="page-item">
        <a
          class="page-link"
          href="/board?page=<%= i+1 %>&boardNum=<%= boardNum %>"
        >
          <%= i + 1 %></a
        >
      </li>
      <% } %>
    </ul>
    <form action="/board/search" name="searchAction">
      <a onclick=""></a>
      <input
        type="text"
        class="form-control searchBar"
        name="searchWord"
        placeholder="검색"
      />
      <input id="boardNum" type="hidden" name="boardNum" />
    </form>
  </span>
  <% if (can_write) { %>
  <a
    class="button button-border button-rounded button-small"
    href="/board/posting"
    >Write</a
  >
  <% } %>
</div>
