<div id="category_row">
  <span class="category_selected">공지사항</span>
  <span class="category">웹프로그래밍</span>
  <span class="category">Advanced Operating System</span>
  <span class="category">종합설계</span> <span class="category">운영체제</span>
</div>

<style>
  #category_row {
    margin-bottom: 5% !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .category {
    padding: 12px 12px;
    margin-right: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    color: #333333;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid #333333;
  }

  .category_selected {
    padding: 12px 12px;
    margin-right: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: #6a639f;
    color: white;
    font-size: 1.1em;
    text-align: center;
  }
</style>
