<ul id="category_row">
  <li class="category" data-category="0">
    <a class="anchor active"><span>일반게시판</span></a>
  </li>
  <li class="category" data-category="1">
    <a class="anchor"><span>운영체제</span></a>
  </li>
  <li class="category" data-category="2">
    <a class="anchor"><span>운영체제2</span></a>
  </li>
  <li class="category" data-category="3">
    <a class="anchor"><span>종합설계</span></a>
  </li>
</ul>
