<div class="col-lg-3">
  <div class="list-group">
    <a href="#" class="list-group-item active">운영체제</a>
    <a href="#" class="list-group-item">웹프로그래밍</a>
    <a href="#" class="list-group-item">Advanced Operating System</a>
    <a href="#" class="list-group-item">종합설계</a>
    <a href="#" class="list-group-item">공지사항</a>
  </div>
</div>
