<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../../common/head.ejs %>
</head>

<body>
  <div class="write_form">
    <form id="writeAction" action="/board/post?mode=add" method="post" enctype="multipart/form-data">
      <input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="제목">
      <input type="text" class="inputWriter" id="addContentWriter" name="addContentWriter" placeholder="작성자">
      <input type="password" class="inputPassword" id="ps" name="ps" placeholder="비밀번호"></br>
      <textarea class="textContents" id="addContents" name="addContents" rows="10" cols="60"></textarea></br>
      <input type="file" class="inputFile" id="UploadFile" name="UploadFile" multiple>
    </form>
    <div id="new" class="addBtngroup">
      <button onclick="submitContents('add');">
        <div>제출</div>
      </button>
    </div>
  </div>
  <script>
    function submitContents() {
      var title = document.getElementById("addContentSubject").value;
      var content = document.getElementById("addContents").value;
      var writer = document.getElementById("addContentWriter").value;
      var password = document.getElementById("ps").value;
      // 새 글 등록 시
      if (title == "" || content == "" || writer == "" || password == "") {
        alert("제목과 내용, 작성자 비밀번호 모두 있어야합니다.");
        return;
      } else {
        document.getElementById("writeAction").submit();
      }
    }
  </script>
</body>
</html>