<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('res/research_background.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">
    <div class="container clearfix">
        <h1>Researches</h1>
        <span> ESEL에서 진행하고 있는 프로젝트 및 연구 주제들 입니다.</span>
    </div>
</section>

<!-- Content
============================================= -->
<section id="content">

    <div class="heading-block center">
        <br/><br/><br/>
        <h4>수행 과제</h4>
    </div>
                <div class="row common-height clearfix">
        
        <div class="hidden-xs col-sm-5 col-padding" style="background: url('admin/./research/4ad8c641feb387a43d130a2a71741dce.jpg') center center no-repeat; background-size: cover;"></div>
        
        <div class="col-sm-7 col-padding" style="background-color: #F5F5F5;">
            <div>
                <div class="heading-block">
                    <span class="before-heading color"> 차세대정보컴퓨팅기술개발사업</span>
                    <h3>환경인지 기반 자가적응형 소프트웨어 시스템을 위한  모델링 및 모니터링 기술 연구</h3>
                    <span><i class="icon-calendar"></i>  2012.07 ~ 2017.6</span>
                </div>

                <div class="row clearfix" >

                    <div class="col-md-12">
                        <p>
                            기존의 비자가적응형 소프트웨어를 자가적응형 소프트웨어로 적응화(Adaptization) 하기 위해 소프트웨어 개발 라이프 사이클 각 단계에서 필요한 자가적응 모니터링 요소를 식별하는 방법론 및 환경 및 시스템을 표현 할 수 있는 다양한 모델링 언어(UML, SA-IDL, ADL 등)를 재정의 및 확장하여 추후 자동화된 검증 및 모니터링 방법 연구
                        </p>
                        <p>
                            ● Adaptization 및 이를 위한 오픈시스템 프레임워크 개념 연구<br>
                            - 기존의 비적응형 소프트웨어를 적응형 소프트웨어로 변환하기 위해 타겟 시스템과 MAPE-K 프로세스 레이어 사이에 적응화를 위한 레이어를 삽입하고, 새로운 컴포넌트들을 추가<br><br>
                            ● Runtime adaptization을 위한 Adaptation strategy의 정의 연구<br>
                            - 기존 연구의 Adaptation strategy 구현 방식을 분석하고, 이를 개선하기 위한 프로세스 개발<br><br>
                            ● 다양한 자가적응시스템간의 협력을 통한 적응방법 연구<br>
                            - 단일 시스템이 대응하지 못하는 상황에 적응하기 위한 프로세스 연구
                        </p>

                        
                    </div>

                </div>

            </div>
        </div>
    </div>
                            <div class="row common-height clearfix">
        <div class="col-sm-7 col-padding" style="background-color: #FFFFFF;">
            <div>
                <div class="heading-block">
                    <span class="before-heading color">한국보건산업진흥원</span>
                    <h3>조울증 개선을 위한 웨어러블 디바이스와 스마트폰을 활용한 생체리듬 관리 IT 기술 및 서비스 개발</h3>
                    <span><i class="icon-calendar"></i> 2014.11 ~ 2017.11</span>
                </div>

                <div class="row clearfix" >

                    <div class="col-md-12">
                        아직 사회에서는 큰 문제로 대두되고 있지 않지만 조울증의 사회적 비용은 점점 증가하고 있는 추세입니다. 조울증의 원인은 다양하지만 현 연구팀에서는 생체리듬이 깨지는 현상이 가장 큰 문제라고 생각하고 있습니다. 따라서 본 연구에서는 웨어러블 디바이스를 활용하여 환자의 생활 습관 개선을 통해 조울증의 재발을 최소화할 수 있도록 하려 합니다.	
                        
                    </div>

                </div>

            </div>
        </div>
        
        <div class="hidden-xs col-sm-5 col-padding" style="background: url('admin/./research/99b48e9af7298c5b8e9fd24f1c121b9a.jpg') center center no-repeat; background-size: cover;"></div>
    </div>
                            <div class="row common-height clearfix">
        
        <div class="hidden-xs col-sm-5 col-padding" style="background: url('admin/./research/13deb086214a3c1a456fadcb1aa9c74e.jpg') center center no-repeat; background-size: cover;"></div>
        
        <div class="col-sm-7 col-padding" style="background-color: #F5F5F5;">
            <div>
                <div class="heading-block">
                    <span class="before-heading color">대학ICT연구센터육성지원사업</span>
                    <h3>글로벌 핀테크 벤처기업 및 창의적 인재육성을 위한 스마트 핀테크 플랫폼 기술 개발 : <br>디지털화폐 기반의 안전한 개방형 핀테크 플랫폼 구축</h3>
                    <span><i class="icon-calendar"></i> 2015.06 ~ 2018.12</span>
                </div>

                <div class="row clearfix" >

                    <div class="col-md-12">
                        <p>디지털 화폐 기반의 핀테크 서비스 플랫폼, 빅데이터 기술 개발을 통한 핀테크 산업에 적용, 금융 서비스에 필요한 차세대 보안기술 및 솔루션 개발을 통해 경쟁력 있는 기술력을 축적하고 핀테크 산업 분야를 선도할 수 있는 창의적인 인재를 양성함</p>
<p>핀테크 산업 및 응용 ICT 서비스에 필요한 금융 빅데이터 기술, 정보보안/프라이버시 보호기술, 데이터 분석 및 분산처리 운영기술, 안정적인 서비스 운영 아키텍쳐, 디지털 화폐를 이용한 플랫폼 서비스 등의 기술 개발</p>	
                        
                    </div>

                </div>

            </div>
        </div>
    </div>
                

</section><!-- #content end -->