<div id="wrapper" class="clearfix">
  <% include ../common/nav.ejs %>
  <section id="page-title" class="page-title"W>
    <div class="container clearfix">
      <h1>Researches</h1>
      <span>
        항공시스템 SW Lab.에서 진행하고 있는 프로젝트 및 연구 주제들 입니다.
      </span>
    </div>
  </section>
  <!-- Content -->
  <section id="content">
    <div class="content-wrap">
      <div class="section nomargin">
        <div class="clear"></div>
        <div class="heading-block center">
          <br /><br /><br />
          <h3>수행 과제</h3>
        </div>
      </div>
    </div>
      <!-- Research list -->
      <% include ./components/research.ejs %>
    </div>
  </section>
  <%include ../common/footer.ejs %>
</div>
