<% include ../common/nav.ejs %>
<div class="container bottommargin">
  <div id="page-title" class="page-title">
    <h1>Researches</h1>
    <span>
      항공시스템 SW Lab.에서 진행하고 있는 프로젝트 및 연구 주제들 입니다.
    </span>
  </div>
  <!-- Content -->
  <div class="section nomargin">
    <div class="heading-block center"><h3>수행 과제</h3></div>
  </div>
  <!-- Research list -->
  <% include ./components/research.ejs %>
</div>
<%include ../common/footer.ejs %>
