<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../common/head.ejs %>
    <style>
      #primary-menu > ul > li > a > div {
        color: #444444;
      }
      #primary-menu > ul > li > a > div:hover {
        color: #001e6a;
      }
    </style>
  </head>
  <body>
    <% include ./body.ejs %> <% include ../common/library.ejs %>
  </body>
</html>
