<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../common/head.ejs %>
  </head>
  <body>
    <% include ../common/nav.ejs %> <% include ./body.ejs %> <% include
    ../common/library.ejs %>
  </body>
</html>
